.footer{
	background: $background;
	padding: 20px!important;
	margin-top: 50px;
	color: #fff;
	ul{list-style:none;li{display:inline-block;margin-right: 10px;}}
	.pull-left{padding-left: 10px;}
	a{color: #fff;}
}